// About Component Styles

.about {
  @extend .flex-center;
  min-width: 18rem;
  max-width: 28rem;
  margin: 0 auto;

  @include tablet {
    min-width: 42rem;
    max-width: 60rem;
    justify-content: flex-start;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding: 1rem;
    }
  }

  &__info-wrapper {
    width: 50%;
    margin: 0 0 2rem 0;
    @include tablet {
      width: 60%;
    }
  }

  &__title {
    font-family: $bold;
    text-align: right;
    color: $title;
    font-size: 2rem;

    @include tablet {
      font-size: 3rem;
    }
  }

  &__img-wrapper {
    width: 7.5rem;
    margin: 0 0 2rem 0;
    @extend .flex-center;

    @include tablet {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__img {
    width: 7.5rem;

    @include tablet {
      width: 10rem;
      border-radius: 5px;
      box-shadow: 0 5px 5px 0 $secondary-color;
    }
  }

  &__description {
    font-family: $slab-regular;
    font-size: 1.25rem;
    text-align: center;
  }

  &__details-wrapper {
    @extend .flex-center;
    width: 18rem;
    padding: 1.5rem;
    margin: 0 auto 1.5rem auto;

    @include tablet {
      width: 100%;
      margin: 0 auto;
      padding: 1.5rem;
    }
  }

  &__btn {
    font-family: $regular;
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid $secondary-color;
    box-shadow: 0 5px 5px 0 $secondary-color;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: $background-primary;
    background-color: $title;
    width: 15rem;
    outline: none;
    @include tablet {
      &:hover {
        box-shadow: 5px 5px 5px 0 $primary-color;
      }
    }
  }

  &__list {
    list-style: none;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @include tablet {
      flex-direction: row;
    }
  }

  &__content {
    font-family: $slab-regular;
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
  }

  &__details {
    border: 1px solid $secondary-color;
    box-shadow: 0 5px 5px 0 $secondary-color;
    border-radius: 10px;
    width: 100%;
    height: 25rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;
    font-size: 1.25rem;

    @include tablet {
      justify-content: initial;
      width: calc(100% / 3-1.5rem);
      height: 20rem;
      margin: 0 1rem 1.5rem 1rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__card-title {
    font-family: $slab-medium;
    font-size: 2rem;
    margin: 0 auto 1rem auto;
    text-align: center;
    color: $title;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__card-list {
    list-style: square;
    list-style-position: inside;
  }

  &__card-content {
    width: 100%;
    margin: 1rem 0 0 0;
    text-align: center;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__card-img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0 1rem 0;
  }
}
