// Content Component Styles

.contact {
  margin: 0 auto;
  // @extend .flex-center;
  width: 18rem;

  @include tablet {
    width: 60rem;
    height: 7rem;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
  }

  &__links {
    width: 2rem;
    height: 2rem;
  }

  &__url {
    width: 2rem;
    height: 2rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

.bs {
  display: none;
}
