// Global Styles

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
  min-height: 100%;
}
html,
body {
  font-family: $regular;
  font-size: 16px;
}

.App {
  background-image: url("/imgs/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding: 2rem 1rem;
  min-height: 100vh;
  min-width: 20rem;
  overflow: hidden;

  @include tablet {
    padding: 3rem;
    min-width: $tablet-width;
  }

  @include desktop {
    min-width: $desktop-width;
  }
}

// Utility Classes

.container {
  max-width: $tablet-width;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
