// Projects Component Styles

.projects {
  @extend .flex-center;
  display: none;
  min-width: 18rem;
  max-width: 28rem;
  margin: 0 auto;

  @include tablet {
    min-width: 42rem;
    max-width: 60rem;
    justify-content: flex-start;
    display: none;
  }

  &__title {
    font-family: $medium;
    margin: 0 0 1.5rem 0;
    text-align: center;
    color: $title;
    font-size: 1.5rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-family: $slab-medium;
    font-size: 2rem;
    margin: 0 0 2rem 0;
    text-align: center;
  }

  &__wrapper {
    width: 20rem;
    @extend .flex-center;
    height: 66rem;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    padding: 1.5rem;

    @include tablet {
      min-width: 46rem;
      flex-direction: row;
      height: unset;
    }
  }

  &__img {
    height: 30rem;
  }

  &__btns {
    font-family: $regular;
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid $secondary-color;
    box-shadow: 0 5px 5px 0 $secondary-color;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: $background-primary;
    background-color: $title;
    width: 15rem;
    outline: none;
    @include tablet {
      &:hover {
        box-shadow: 5px 5px 5px 0 $primary-color;
      }
    }
  }

  &__description {
    font-family: $slab-regular;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid $secondary-color;
    box-shadow: 0 5px 5px 0 $secondary-color;
    border-radius: 10px;
    width: 15rem;
    height: 32rem;
    padding: 1rem;

    @include tablet {
      width: 20rem;
      height: 28rem;
      padding: 3rem 2rem;
    }
  }

  &__more-wrapper {
    list-style: none;
    @extend .flex-center;
    display: none;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 2rem 0;

    @include tablet {
      flex-direction: row;
      padding: 1.5rem;
    }
  }

  &__more {
    border: 1px solid $secondary-color;
    box-shadow: 0 5px 5px 0 $secondary-color;
    border-radius: 10px;
    width: 100%;
    height: 28rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem 0;

    @include tablet {
      width: calc(100% / 3 - 1.5rem);
      margin: 0 0.5rem 1.5rem 0.5rem;
      height: 23rem;
      font-size: 1rem;
    }
    @include desktop {
      height: 30rem;
      font-size: 1.5rem;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin: 0 0 1rem 0;
  }

  &__details {
    font-family: $slab-regular;
    text-align: center;
  }

  &__video {
    display: none;
    width: 18rem;
    height: 156.5px;

    @include tablet {
      width: 640px;
      height: 353px;
    }
  }
}
