// Projects Component Styles

.projects {
  padding: 2rem;
  border: 1px solid $primary-color;
  width: 60rem;
  height: 100rem;
  margin: 0 auto;
  @extend .flex-center;
  justify-content: space-between;

  &__title {
    font-family: $medium;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
    color: $title;
  }

  &__subtitle {
    font-family: $medium;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
    // color: $title;
  }

  &__img {
    height: 30rem;
    margin: 0 0 1.5rem 0;
  }

  &__read {
    font-family: $slab-regular;
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
    cursor: pointer;
  }

  &__description {
    font-family: $slab-regular;
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
  }
}
