*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Roboto Regular";
  font-size: 16px;
}

.App {
  background-image: url("/imgs/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.flex-center, .about__details-wrapper, .about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  width: 50rem;
  height: 45rem;
  margin: 0 auto;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin: 0 0 2rem 0;
}

.about__info-wrapper {
  width: 60%;
  margin: 0 0 2rem 0;
}

.about__title {
  font-family: "Roboto Bold";
  font-size: 3rem;
  text-align: right;
}

.about__img-wrapper {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
}

.about__img {
  width: 10rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
}

.about__description {
  font-family: "Roboto Slab Regular";
  font-size: 1.25rem;
}

.about__details-wrapper {
  border: 1px solid #000000;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
  border-radius: 10px;
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  padding: 1rem;
}

.about__subtitle {
  font-family: "Roboto Medium";
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.about__list {
  list-style: none;
  width: 100%;
}

.about__details, .about__content {
  text-align: center;
  font-family: "Roboto Slab Regular";
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/roboto-medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../assets/fonts/robotoslab-regular.ttf");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("../../assets/fonts/robotoslab-medium.ttf");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../../assets/fonts/robotoslab-bold.ttf");
}
/*# sourceMappingURL=main.css.map */