*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Roboto Regular";
  font-size: 16px;
}

.App {
  background-image: url("/imgs/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 3rem;
  height: 2000px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.flex-center, .about, .about__details-wrapper, .contact, .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  width: 60rem;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.about__info-wrapper {
  width: 60%;
  margin: 0 0 2rem 0;
}

.about__title {
  font-family: "Roboto Bold";
  font-size: 3rem;
  text-align: right;
  color: #1d3557;
}

.about__img-wrapper {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
}

.about__img {
  width: 10rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
}

.about__description {
  font-family: "Roboto Slab Regular";
  font-size: 1.25rem;
}

.about__details-wrapper {
  width: 60rem;
  margin: 0 auto 1.5rem auto;
  padding: 1.5rem;
}

.about__btn {
  font-family: "Roboto Regular";
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #6d6875;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  color: #edeff5;
  background-color: #1d3557;
  width: 12rem;
  outline: none;
}

.about__btn:hover {
  font-family: "Roboto Bold";
}

.about__list {
  list-style: none;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about__details, .about__content {
  font-family: "Roboto Slab Regular";
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
}

.about__details {
  border: 1px solid #6d6875;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
  border-radius: 10px;
  width: 18rem;
  height: 23rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.about__card-title {
  font-family: "Roboto Slab Medium";
  font-size: 2rem;
  width: 12rem;
  margin: 0 auto 1.5rem auto;
  text-align: center;
  color: #1d3557;
}

.about__card-list {
  list-style: square;
  list-style-position: inside;
}

.about__card-content {
  width: 100%;
  margin: 0 0 1rem 0;
  text-align: center;
}

.about__card-img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0 1rem 0;
}

.contact {
  width: 60rem;
  height: 7rem;
  margin: 0 auto;
}

.contact__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

.contact__links {
  width: 2rem;
  height: 2rem;
}

.contact__url {
  width: 2rem;
  height: 2rem;
}

.contact__icon {
  width: 2rem;
  height: 2rem;
}

.bs {
  display: none;
}

.projects {
  padding: 1.5rem;
  width: 60rem;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: none;
}

.projects__title {
  font-family: "Roboto Medium";
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
  color: #1d3557;
}

.projects__subtitle {
  font-family: "Roboto Slab Medium";
  font-size: 2rem;
  margin: 0 0 3rem 0;
  text-align: center;
}

.projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60rem;
  margin: 0 0 3rem 0;
}

.projects__img {
  height: 30rem;
}

.projects__btns {
  font-family: "Roboto Regular";
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #6d6875;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  color: #edeff5;
  background-color: #1d3557;
  width: 15rem;
  outline: none;
}

.projects__btns:hover {
  font-family: "Roboto Bold";
}

.projects__description {
  font-family: "Roboto Slab Regular";
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #6d6875;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
  border-radius: 10px;
  width: 20rem;
  height: 28rem;
  padding: 2.5rem;
}

.projects__more-wrapper {
  list-style: none;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 0 2rem 0;
}

.projects__more {
  border: 1px solid #6d6875;
  -webkit-box-shadow: 0 5px 5px 0 #6d6875;
          box-shadow: 0 5px 5px 0 #6d6875;
  border-radius: 10px;
  width: 18rem;
  height: 28rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 1.5rem;
}

.projects__icon {
  width: 3rem;
  height: 3rem;
  margin: 0 0 1rem 0;
}

.projects__details {
  font-family: "Roboto Slab Regular";
  text-align: center;
}

.projects__video {
  display: none;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/roboto-medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../assets/fonts/robotoslab-regular.ttf");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("../../assets/fonts/robotoslab-medium.ttf");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../../assets/fonts/robotoslab-bold.ttf");
}
/*# sourceMappingURL=main.css.map */